.senderId {
  background: linear-gradient(45deg, #4674b9, #9ae188);
  padding: 8px;
  font-size: 16px;
  font-weight: 600;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 23px;
  color: #fff;
  padding-right: 13px;
  padding-left: 11px;
}
.receverId {
  background: linear-gradient(45deg, #598f11c4, #898035e8);
  padding: 8px;
  font-size: 16px;
  font-weight: 600;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 18px;
  border-top-right-radius: 11px;
  color: #fff;
  padding-right: 13px;
  padding-left: 11px;
}
